@import "./variables.scss";
@import "./reset.scss";
@import "./login.scss";

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    div {
        display: none;
    }

    &.login {
        div#gameContainer {
            display: block;
        }
    }

    &.logout {
        div#loginContainer {
            display: flex;
        }
    }
}